<nav class="sub-nav-container">
    <ul class="nav-links-list">
        <li>
            <a routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">About Us</a>
        <li>
        <li class="best-deals">
            <a routerLink="/product-list" routerLinkActive="selected"
                [queryParams]="{productType: ProductListTypes.BEST_DEALS}">
                {{ProductListTypes.BEST_DEALS}}
            </a>
        </li>
        <ng-container *ngFor="let productKey of ProductListTypesKeys | slice:1">
            <li>
                <a routerLink="/product-list" routerLinkActive="selected"
                    [queryParams]="{productType: ProductListTypes[productKey]}">
                    {{ProductListTypes[productKey]}}
                </a>
            </li>
        </ng-container>
        <li><a routerLink="/">Contact Us</a></li>
    </ul>
</nav>