<header class="main-menu">
    <div class="header-brand">
        <img src="../../assets/img/controller.png" alt="Playstation controller">
        <h1 class="title">Game<span class="title__red-styling">Stop</span></h1>
    </div>
    <div class="containr d-flex">
        <search-product></search-product>
        <div class="sign-btns">
            <a class="login-btn" href="#">Sign in</a>
            <a class="register-btn" href="#">Sign up</a>
        </div>
        <a class="shopping-cart" href="#">
            <span class="shopping-cart__description">Cart</span>
            <div class="shopping-cart__icon">
                <span class="shopping-cart__icon--count">1</span>
                <mat-icon>shopping_cart</mat-icon>
            </div>
        </a>
    </div>
</header>