<header class="main-menu">
    <div class="header-brand" routerLink="/">
        <img src="../../assets/img/controller.png" alt="Playstation controller">
        <h1 class="title">Game<span class="title__red-styling">Stop</span></h1>
    </div>
    <div class="containr d-flex">
        <search-product></search-product>
        <ng-container>
            <div class="sign-btns">
                <a class="login-btn" routerLink="/login" routerLinkActive="selected">Sign in</a>
                <a class="register-btn" routerLink="/register" routerLinkActive="selected">Sign up</a>
            </div>
        </ng-container>

        <a class="shopping-cart" routerLink="/cart" routerLinkActive="selected">
            <span class="shopping-cart__description">Cart</span>
            <div class="shopping-cart__icon">
                <span class="shopping-cart__icon--count">1</span>
                <mat-icon>shopping_cart</mat-icon>
            </div>
        </a>
    </div>
</header>

<!-- <ng-template #loggedInUserData let>
    Welcome, {{}}
</ng-template> -->