/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
h1, h2, h3, h4, h5, h6, h7 p, span, li {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
}
ul {
    margin: 0;
}
body { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
