<div class="wrapper">
    <a href="#">
        <div class="product-tile">
            <div class="product-tile__image">
                <img src="../../../../assets/img/mock/ps5-controller.png" alt="Image of a product">
            </div>
            <div class="product-tile__header">
                <span>PS5 Controller</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="product-tile__rating">
                    <div class="fill-ratings">
                        <span>★★★★★</span>
                    </div>
                    <div class="empty-ratings">
                        <span>★★★★★</span>
                    </div>
                </div>
                <span class="product-tile__ratings-amount ml-2"> (10)</span>
            </div>
            <div class="d-flex justify-content-between">
                <div class="product-tile__price">
                    <span class="font-weight-bold">$99.99</span>
                </div>
                <div class="product-tile__price before-discount">
                    <span class="font-weight-bold">$129.99</span>
                </div>
            </div>

        </div>
    </a>
</div>