<div class="cart-container">
    <ng-container *ngIf="DATA; else emptyCart">
        <ng-container *ngFor="let productEntry of DATA; trackBy: trackByFn">
            <div class="row cart-entry">
                <div class="cart-entry__image">
                    <img [src]="productEntry.product.imageUrl" [alt]="productEntry.product.name">
                </div>
                <div class="cart-entry__name">
                    <h4>{{productEntry.product.name}}</h4>
                </div>
                <div class="cart-entry__amount">
                    <span class="font-weight-bold">{{productEntry.quantity}}X</span>
                </div>
                <div class="cart-entry__set-amount">
                    <button type="button" class="amount-btn"><span>&#8593;</span></button>
                    <input type="number" class="amount-input">
                    <button type="button" class="amount-btn"><span>&#8595;</span></button>
                </div>
                <div class="cart-entry__price">
                    <span class="font-weight-bold">${{productEntry.product.price * productEntry.quantity}}</span>
                </div>
                <div class="delete-icon"></div>
            </div>
        </ng-container>
    </ng-container>
</div>

<ng-template #emptyCart>
    <h3>Your cart is empty.</h3>
</ng-template>